@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

.color-green {
  color: #349fa3 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.header .navigation .logo a img {
  max-width: 170px;
}
.header .navigation .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header .navigation .links ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #349fa3;
}
.header .navigation .menu {
  display: none;
}
@media all and (max-width: 992px) {
  .header {
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
  }
  .header .navigation .links {
    display: none;
  }
  .header .navigation .logo a img {
    max-width: 120px;
  }
  .header .navigation .menu {
    display: block;
  }
}

@keyframes SlideRightIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.mobile-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.mobile-modal .modal-inner {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  width: 90%;
  top: 0;
  right: 0;
  height: 100vh;
  animation: SlideRightIn 0.3s ease-in-out;
}
.mobile-modal .modal-inner .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.mobile-modal .modal-inner .close .mobile-logo {
  max-width: 80px;
}
.mobile-modal .modal-inner .links ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.mobile-modal .modal-inner .links ul li {
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid #101d2e;
}
.mobile-modal .modal-inner .links ul li:last-child {
  border: 0;
}
.mobile-modal .modal-inner .links ul li a {
  text-decoration: none;
  padding: 1rem 0.7rem;
  color: #101d2e;
}

.hide {
  display: none !important;
}

.sec {
  padding: 5rem 0;
}
@media all and (max-width: 768px) {
  .sec {
    padding: 3rem 0;
  }
}

.home {
  background-color: #101d2e;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 992px) {
  .home {
    -webkit-clip-path: unset;
            clip-path: unset;
    padding-top: 8rem;
  }
}

.main-heading {
  font-size: 3.4rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}
.main-heading span {
  font-weight: 900;
}
@media all and (max-width: 992px) {
  .main-heading {
    font-size: 2rem;
  }
}

.banner-para {
  color: #fff;
  font-size: 1.2rem;
}

.cta {
  margin-top: 2rem;
}
.cta a {
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}
.cta a:hover {
  background-color: #349fa3;
  border-color: #349fa3;
}

.border-radius {
  border-radius: 0.4rem;
}

.right-content {
  position: relative;
}
.right-content::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 30vh;
  border: 2px solid #349fa3;
  top: -1rem;
  left: -1rem;
  z-index: -1;
}
.right-content img {
  position: absolute;
  top: 0;
}
@media all and (max-width: 992px) {
  .right-content {
    margin-top: 3rem;
  }
  .right-content::before {
    left: -0.5rem;
    top: -0.5rem;
  }
  .right-content img {
    position: unset;
    top: unset;
  }
}

.about-ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.about-ul li {
  padding-left: 1.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.about-ul li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 1rem;
  height: 4px;
  background-color: #349fa3;
  border-radius: 0.1rem;
}

.about-image {
  border-top: 2px solid #349fa3;
}

.plans-ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.plans-ul li {
  width: 32%;
}
.plans-ul li .plan-card {
  padding: 0.5rem;
  background-color: #349fa3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}
.plans-ul li .plan-card .inner {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.plans-ul li .plan-card .inner p {
  font-size: 0.95rem;
}
.plans-ul li .plan-card .inner h4 {
  color: #349fa3;
}
.plans-ul li .plan-card .inner a {
  text-decoration: none;
  border: 1px solid #349fa3;
  padding: 0.7rem 1rem;
  color: #349fa3;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
}
@media all and (max-width: 992px) {
  .plans-ul li {
    width: 48%;
  }
}
@media all and (max-width: 768px) {
  .plans-ul li {
    width: 100%;
  }
}

.services {
  background-color: #f7f7f7;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 7rem;
}
@media all and (max-width: 992px) {
  .services {
    -webkit-clip-path: unset;
            clip-path: unset;
    padding: 3rem 0;
  }
}

.sec-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #101d2e;
  text-transform: uppercase;
}
.sec-heading span {
  color: #349fa3;
}

.features-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.features-list li {
  width: 49%;
}
.features-list li:nth-child(even) {
  margin-top: 1.5rem;
}
.features-list li .feature-card {
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.features-list li .feature-card:hover {
  transform: translateY(-10px);
}
.features-list li .feature-card:hover .icon::after {
  bottom: 0;
  right: 0;
}
.features-list li .feature-card .icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #349fa3;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 11;
}
.features-list li .feature-card .icon::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #101d2e;
  border-radius: 0.5rem;
  position: absolute;
  z-index: -1;
  bottom: -0.3rem;
  right: -0.3rem;
  transition: all 0.3s ease-in-out;
}
.features-list li .feature-card .icon img {
  max-width: 35px;
}
.features-list li .feature-card h4 {
  color: #349fa3;
}
@media all and (max-width: 992px) {
  .features-list li {
    width: 100%;
  }
  .features-list li:nth-child(even) {
    margin-top: 0;
  }
}

.download a {
  text-transform: none;
  border: 2px solid #349fa3;
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
  color: #349fa3;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.download a:hover {
  background-color: #349fa3;
  color: #fff;
}

.swiper {
  width: 100%;
  max-width: 1280px;
  min-height: 280px;
  margin-top: 40px;
}

.swiper-slide {
  background: #fff;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}
.swiper-slide .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide .top .image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: #349fa3;
  border-radius: 50%;
  position: relative;
}
.swiper-slide .top .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide .top .stars img {
  max-width: 80px;
}
.swiper-slide .review {
  position: relative;
  margin-top: 2rem;
}
.swiper-slide .review p {
  margin: 0;
}
.swiper-slide .review img {
  max-width: 16px;
}
.swiper-slide .review .inverted {
  transform: rotate(180deg);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #000 !important;
}

.accordion dd,
.accordion__panel {
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1rem;
}

.accordion {
  position: relative;
}

.accordionTitle,
.accordion__Heading {
  background-color: #349fa3;
  font-weight: 700;
  padding: 1em;
  padding-left: 1.4rem;
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  border-radius: 0.5rem;
}
@media all and (max-width: 992px) {
  .accordionTitle,
  .accordion__Heading {
    font-weight: normal;
    text-align: left;
  }
  .accordionTitle::before,
  .accordion__Heading::before {
    display: none;
  }
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 1em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #28797c;
  color: #fff;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #28797c;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
.footer {
  background-color: #101d2e;
  color: #fff;
  padding: 2rem 0;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.4rem;
  position: relative;
  padding-left: 1.5rem;
}
.footer-links li::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 3px;
  background-color: #349fa3;
  border-radius: 0.1rem;
  top: 11px;
  left: 0;
}
.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 0.8rem;
}
.social li a {
  width: 35px;
  height: 35px;
  background-color: #349fa3;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
}
.social li a img {
  max-width: 22px;
}

.field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem;
}
.field-container input {
  border: 1px solid #349fa3;
  padding: 0.8rem 0.8rem;
  width: 100%;
  box-shadow: none;
  outline: none;
  border-radius: 0.5rem;
}
.field-container button {
  background-color: #349fa3;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.8rem 1rem;
}/*# sourceMappingURL=styles.css.map */

